<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Todo tasks</title>
    <script src="core/angular/angular.min.js"></script>
    <script src="core/jquery-3.2.1.min.js"></script>
    <script src="core/main.js"></script>
    <link rel="stylesheet" href="core/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="core/bootstrap/css/style.css">
    <link rel="icon" type="image/png" href="core/media/favicon.ico"/>
</head>
<body ng-app="codeytek">
<div ng-include="'menu.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h3>Welcome To Todo Tasks</h3>
            </div>
        </div>
    </div>
    <div class="row" ng-controller="Fetch">
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
            <h5 class="page-header"><b>Categories</b></h5>

            <table class="table table-bordered table-responsive">
                <thead><tr><th>#</th><th>Title</th><th></th></tr></thead>
                <tbody>
                    <tr ng-repeat="cat in category">
                        <th scope="row">{{cat.id}}</th>
                        <td>{{cat.title}}</td>
                        <td>
                            <a ng-href="edit_category.html?id={{cat.id}}"><span class="glyphicon glyphicon-pencil" ng-click="edit_category(cat.id)"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-remove" ng-click="remove_category(cat.id)"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            <h5 class="page-header"><b>Todo List</b></h5>
            <table class="table table-bordered table-responsive">
                <thead>
                    <tr><th>#</th><th>Title</th><th>Description</th><th>Category</th><th>Date</th><th>Tags</th><th></th></tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ts in task">
                        <th scope="row">{{ts.id}}</th>
                        <td>{{ts.title}}</td>
                        <td>{{ts.description}}</td>

                        <td>{{findCategory(ts.category_id)}}</td>
                        <td>{{ts.due_date}}</td>
                        <td>{{ts.tags}}</td>
                        <td>
                            <a ng-href="edit_task.html?id={{ts.id}}"><span class="glyphicon glyphicon-pencil" ng-click="edit_task(ts.id)"></span></a>
                            <a href="#"><span class="glyphicon glyphicon-remove" ng-click="remove_task(ts.id)"></span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>